*.o
*.o.d
*.sw*
semu

# Linux-specific
*.dtb
Image
ext4.img
test-tools.img
rootfs.cpio
Image.bz2
rootfs.cpio.bz2
test-tools.img.bz2
prebuilt.sha1
.stamps/
.semu-buildroot.lock

# intermediate
riscv-harts.dtsi

# Build directories
buildroot/
linux/
rootfs/
directfb/
extra_packages/

# DirectFB build
DirectFB2/
DirectFB-examples/
